html, body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body{
  background: url("../Images/img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fp{
  font-family: "Times New Roman";
  font-size: 40px;
  text-align: center;
  padding: 5%;
  width: 80%;
  margin-left: 5%;
  height: 80%;
  color: rgb(50,50,50);
  background-color: rgba(255,255,255,0.8);
}

.smt{
  font-family: "ariel";
  font-size: 18px;
  text-align: left;
  margin-left: 17%;
  width: 70%;
}

.sm{
  font-family: "ariel";
  font-size: 22px;
  text-align: left;
  margin-left: 17%;
  width: 70%;
}

.wp{
  font-family: "ariel";
  text-align: justify;
  font-size: 18px;
  float: left;
  margin-left: 10%;
  width: 70%;
}

.wp hr{
  color: rgb(11,30,53);
  border-width: 2px;
  width: 40%;
}

img{
   border: 5px solid black;
}

.rts img{
    float: left;
    width: 15%;
    height: 10%;
}

.rts a{
  color: rgb(0,117,190);
  text-decoration: none;
}

.rts a:hover{
  text-decoration: underline;
}

.rt_info{
  font-family: "ariel";
  text-align: justify;
  float: left;
  height: 25%;
  width: 51%;
  font-size: 22px;
  text-align: left;
  margin-left: 5%;
  margin-right: 25%;
  margin-bottom: 7%;
}
